/* interlignage lettrine */
/* lettrine que tout début → voir  */
/* perdue */


   @font-face {
    font-family: "berolina";
    src: url("fonts/Berolina_Regular.ttf");
   }
   
   @font-face {
    font-family: "dse";
    src: url("fonts/DSE_Typewriter_Bitmap_OldStyle.ttf");
   }

   @font-face {
    font-family: "junicode";
    src: url("fonts/Junicode_RegularCondensed.ttf");
   }

   @font-face {
    font-family: "routedgothic";
    src: url("fonts/Routed_Gothic_Wide_Regular.ttf");
   }

@media screen {
    
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(214, 214, 255), pink);
    /* overflow: hidden; */
}


.fin {
    display: flex;
    justify-content: center;
  }

button {
    position: relative;
    z-index: 50;
    font-size: 30pt;
    font-family: 'routedgothic';
    margin-top: 50px;
    cursor: pointer;
    background-color: none;
}

button:hover {
    background-color: #7b38d8;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 30pt;
    /* padding: 20px; */
    transition:ease-out 0.2ms;
    cursor: pointer;
}



#parent {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-right: 20%;
    padding-left: 20%;
}

#parent p {
font-size: 3em;
margin: 0;
    padding: 0;
    z-index: 1;
    text-align: center;
}

.enfant {
font-size: 1em;
margin: 0;
padding: 0;
padding: 10px;
max-width: 400px;
min-width: 300px;
min-height: 300px;
position: absolute;
background-position: center center;
background-size:contain;
background-repeat: no-repeat;
cursor: pointer;
z-index: 52;
}

img {
    mix-blend-mode: multiply;
}

img:hover {
    mix-blend-mode: normal;
}

.enfant p {
    display: none;
    /* font-family: "junicode"; */
    line-height:normal;
    max-width: 300px;
    text-align: left;
    cursor: pointer;
    padding: 10px;
}

.blur {
    filter:blur(6px);
}

.enfant:hover {
cursor: pointer;
/* max-width: 500px;
min-width: 300px;
min-height: 500px; */
transform: rotate(10deg);
}

header {
    display: none;
}

footer {
    display : none;
}

}

@media print {
    @page {
        size: 105mm 297mm;
        margin: 10mm;
        marks: crop;
        @bottom-center {
            content: "chapitre " counter(page);

        }
        @top-center {
            content: counter(page)
        }

        @bottom-left {
            content: string (title);
        }
    }

    @page:left {
        text-align: left;
    }

    @page:right {
        text-align: left;
    }

    @page:first {
    }


    /* @page frontcover {
        background-color: aqua;
        @top-center{
          content: none;
        } 
      } */

   /* header { page: frontcover; } */

h1 {
    display: block;
    font-size: 2em;
    color: pink;
    page-break-after: always;
    content: "test";

}


    img {
        max-height: 8cm;
        page-break-after: always;
        mix-blend-mode:color-burn;
        background-color: yellow;
        margin-top: auto;
  margin-bottom: auto;
    }

    #fragment {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 297mm;
      }

      /* .fragment:first-of-type p::first-letter  {
    color: purple;
    font-variant: small-caps;
    background-color: aqua;
    font-size: 6em;
      } */


      #pFragment {
        border-top: dotted 1px black;
        padding-top: 10%;
        font-size: 12pt;
        color: blue; 
        height: 148.5mm;
      }

      p::first-letter {
        float:left;
        font-size: 6em;
        padding: 0.05em 0.05em 0 0;
        -webkit-text-stroke: 3px black;
        color: transparent;
      }

}