/* interlignage lettrine */
/* lettrine que tout début → voir  */
/* perdue */


@font-face {
    font-family: "berolina";
    src: url("fonts/Berolina_Regular.ttf");
}

@font-face {
    font-family: "dse";
    src: url("fonts/DSE_Typewriter_Bitmap_OldStyle.ttf");
}

@font-face {
    font-family: "routedgothic";
    src: url("fonts/Routed_Gothic_Wide_Regular.ttf");
}

@font-face {
    font-family: "MetaAccanthisAlternate";
    src: url("fonts/MetaAccanthisAlternate.ttf");
}

@font-face {
    font-family: "Louise";
    src: url("fonts/Louise-Regular.otf");
}

@font-face {
    font-family: "Goozee";
    src: url("fonts/Goozeeoutline.otf");
}

@font-face {
    font-family: "KaeruKaeru";
    src: url("fonts/kaerukaeru-Regular.otf");
}

@font-face {
    font-family: "Tiny";
    src: url("fonts/TINY5x3-160.otf");
}

@font-face {
    font-family: "Noloice";
    src: url("fonts/Noloice.otf");
}

@font-face {
    font-family: "Redaction35";
    src: url("fonts/Redaction35-Regular.otf");
}


@font-face {
    font-family: "Lobular";
    src: url("fonts/Lobular-Regular.otf");
}

@font-face {
    font-family: "Almendra";
    src: url("fonts/AlmendraDisplay-Regular.ttf");
}

@font-face {
    font-family: "crozet";
    src: url("fonts/Crozet-Regular.ttf");
}

@font-face {
    font-family: "BianZhiDai";
    src: url("fonts/BianZhiDai-ring");
}

:root {
    --rose: rgba(252, 69, 142);
    --green: rgba(167, 252, 69);
    --blue: rgba(46, 46, 203);
    --marine: rgb(0, 0, 69);
    --yellow: rgb(246, 255, 0);
    --jaunepale: rgb(225, 227, 178);
    --purple: rgb(181, 188, 239);
    --pink: rgb(255, 147, 126);
    --rouille: rgb(223, 80, 67);
    --jaunefonce: rgb(134, 135, 93);
    --sapin: rgb(17, 57, 7);
    --accentFont: "crozet";
    --accentFontSize: "80px";
    --color: black;
    --accentColor: red;
}




@media screen {


    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        background-color: var(--color);
    }

    .darkBody {
        background-color: gray;
        mix-blend-mode: multiply;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
    }

    .morceau {
        position: relative;
        z-index: 100;
        /* background: rgb(221, 181, 239); */
    }

    main {
        width: 100%;
        height: 100%;
    }



    .fin {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    button {
        position: relative;
        z-index: 50;
        font-size: 30pt;
        font-family: var(--accentFont);
        margin-top: 50px;
        cursor: pointer;
        background-color: white;
        border-radius: 10px;
        padding: 1%;
        border: none;
        color: var(--color);

    }

    button:hover {
        background-color: var(--color);
        border-radius: 10px;
        border: none;
        color: white;
        text-align: center;
        font-size: 30pt;
        transition: ease-out 0.2ms;
        cursor: pointer;
    }



    #parent {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #parent p {
        font-size: 40px;
        margin: 0;
        padding: 0;
        text-align: center;
        mix-blend-mode: normal;
        text-shadow: var(--accentColor) 5px 5px 10px;
        color: white;
        line-height: normal;
        max-width: 60%;
    }



    #parent p::first-letter {
        font-size: var(--accentFontSize);
        -webkit-text-stroke: 2px var(--accentColor);
        font-family: var(--accentFont);
        text-shadow: none;
        color: white;
        z-index: 100;
        line-height: 0;
    }

    .enfant {
        font-size: 1em;
        margin: 0;
        padding: 0;
        padding: 10px;
        max-width: 400px;
        min-width: 300px;
        min-height: 300px;
        position: absolute;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 52;
    }

    /* img {
    mix-blend-mode: multiply;
} */


    img {
        cursor: pointer;
        filter: grayscale(100%) drop-shadow(16px 16px 20px var(--accentColor));
        width: 300px;
    }

    img:hover {
        mix-blend-mode: multiply;
    }




    .blur {
        filter: blur(6px);
    }

    .enfant:hover {
        cursor: pointer;
        transform: rotate(10deg);
    }


    header,
    footer {
        display: none;
    }

}

@media print {
    .darkBody {
        display: none;
    }

    @page {
        size: 105mm 297mm;
        marks: crop;
        margin: 10mm;


        @bottom-center {
            content: counter(page);
            font-family: var(--accentFont);
            color: var(--color);
            font-size: 20px;
            padding: 5mm;
        }

        @top-center {
            content: counter(page);
            font-family: var(--accentFont);
            color: var(--color);
            font-size: 20px;
            padding: 5mm;


        }
    }

    @page cover {
        @bottom-center {
            content: none;
            font-family: var(--accentFont);
            color: var(--color);
            font-size: 20px;
            padding: 5mm;
        }

        @top-center {
            content: none;
            font-family: var(--accentFont);
            color: var(--color);
            font-size: 20px;
            padding: 5mm;
        }

        h1 {
            display: flex;
            font-size: 50pt;
            font-family: var(--accentFont);
            color: var(--color);
            text-shadow: var(--accentColor) 1px 0 10px;
            margin: 0;
            padding: 0;
            text-align: center;
            height: 50%;
            align-items: center;
            text-decoration: underline var(--accentColor) 4px;
        }
        margin-left: 0;

    }

    @page backcover {
        @bottom-center {
            content: none;
        }

        @top-center {
            content: none;
        }

        ul li {
            text-decoration: none;
            list-style-type: none;
            font-family: var(--accentFont);
            text-shadow: var(--accentColor) 1px 0 10px;
            color: var(--color);
            font-size: 30px;
            text-align: center;
        }

        ul {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        h1 {
            font-family: var(--accentFont);
            text-shadow: var(--accentColor) 1px 0 10px;
            color: var(--color);
            font-size: 20px;
            margin: 1%;
            text-align: center;
            text-decoration: underline var(--accentColor) 1px;

        }

        #titre_colophon {
            padding-bottom: 1cm;
        }


    }

    @page:left {
        margin-right: 1.5cm;
    }

    @page:right {
        margin-left: 1.5cm;

    }

    .cover {
        page-break-after: always;
        page: cover;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: 100%;
    }

    .image {
        display: flex;
        height: 50%;
        align-items: center;

    }

    .back-cover {
        page: backcover;
    }

    /* .cueilleureuse {
       content: string;
    } */


    header,
    footer {
        display: none;
    }


    img {
        max-height: 8cm;
        page-break-after: always;
        mix-blend-mode: normal;
        position: absolute;
        top: 12.5%;

        /* filter: hue-rotate(90deg) drop-shadow(16px 16px 20px rgb(252, 69, 142)) ; */
        filter: grayscale(100%) drop-shadow(16px 16px 20px var(--accentColor));
        /* filter: hue-rotate(90deg); */
    }

    #fragment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 297mm;

    }



    #pFragment {
        /* color: rgb(0, 0, 0);  */
        /* height: 148.5mm; */
        height: 50%;
        top: 50%;
        position: absolute;
        padding-top: 1cm;
        border-top: dotted 1px var(--accentColor);
    }

    p {
        font-size: 20px;
        color: var(--color);
        text-shadow: var(--accentColor) 10px 0 10px;
        line-height: normal;
        margin: 0;

    }

    p::first-letter {
        float: left;
        font-size: 80px;
        padding: 0.05em 0.05em 0 0;
        -webkit-text-stroke: 2px var(--accentColor);
        color: white;
        text-shadow: none;

        /* text-align: right; */
    }

    /* p {
    font-family: "MetaAccanthisAlternate";
      } */
}