@font-face {
    font-family: "DejaVuSansMono";
    src: url("fonts/DejaVuSansMono.ttf") format("opentype");
}

@media print {
    html,
    body,
    main{
        padding: 0;
        margin: 0;
    }
    html{
        font-family: "DejaVuSansMono";
        font-size: 6pt;
    }
    @page {
        size: 57mm 65mm;
    }
    article.history{
        padding: 5mm;
        /* background-color: aquamarine; */
        width: 57mm;
        height: 65mm;
    }
}