@font-face {
    font-family: "DejaVuSansMono";
    src: url("fonts/DejaVuSansMono.ttf") format("opentype");
}

html{
    font-family: "DejaVuSansMono";
}
main{
    width: 50%;
}
iframe{
    display: none;
}
div{
    background-color: aquamarine;
    margin-bottom: 1.2rem;
}
div.child,
div.parent{
    cursor: pointer; 
}
div.child,
div.parent{
    color: transparent;
    text-shadow: 0 0 4px #000;
}
span{
    color: black;
    text-shadow: none;
}

/* section.parents div{
    background: -webkit-linear-gradient(white, 70%, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
}
section.children div{
    background: -webkit-linear-gradient(black, 25%, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
