@font-face {
    font-family: autopia;
    src: url('../typos/Autopia-Regular.ttf');
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family: autopia;
    src: url('../typos/Autopia-Bold.ttf');
    font-weight:bold;
    font-style: normal;
}
@font-face {
    font-family: autopia;
    src: url('../typos/Autopia-Italic.ttf');
    font-weight:normal;
    font-style: italic;
}
@font-face {
    font-family: autopia;
    src: url('../typos/Autopia-Bold-Italic.ttf');
    font-weight:bold;
    font-style: italic;
}


/*
.fragment.active{
    font-size:64px;
}
*/

main{
    display:flex;
    flex-wrap:wrap;

}

p{
    width:200px;
    margin-top:30px;
    margin-bottom:30px;
    margin-right:30px;
    padding:5px;
    border:1px solid black;

}

.reponse{
    font-family:autopia;
    font-style: italic;
    font-weight:bold;
}
